<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
<appSettings>
        <add key="PicturesPath" value="D:\Proiecte c#\EstateManagement.Models\Imobiliare" />
	<add key ="repType" value='1'/>
    </appSettings>

	<connectionStrings>

   <add name="connection" 
        connectionString="data source=DESKTOP-N33U3N3;initial catalog=EstateManagement;
                          integrated security=SSPI"
        providerName="System.Data.SqlClient" />

 </connectionStrings>

</configuration>